* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #282836;
  color: whitesmoke;
}

html {
  font-size: 62.5%;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'M PLUS 1', sans-serif;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-weight: bold;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 700px) {
  html {
    font-size: 40%;
  }
}

@media(max-width: 200px) {
  html {
    font-size: 15%;
  }
}

/* color-pallet: {
  #282836,
  #090921ff
} */